USE [ELMS]
GO
/****** Object:  Table [StandardOptions].[Countries]    Script Date: 3/18/2016 1:02:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [StandardOptions].[Countries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Abbreviation] [nvarchar](max) NULL,
	[Active] [bit] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_StandardOptions.Countries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [StandardOptions].[Countries] ON 

INSERT [StandardOptions].[Countries] ([Id], [Name], [Abbreviation], [Active]) VALUES (1, N'Afghanistan', N'AF', 1)
INSERT [StandardOptions].[Countries] ([Id], [Name], [Abbreviation], [Active]) VALUES (2, N'Aland Islands', N'AX', 1)
INSERT [StandardOptions].[Countries] ([Id], [Name], [Abbreviation], [Active]) VALUES (3, N'Albania', N'AL', 1)
GO
SET IDENTITY_INSERT [StandardOptions].[Countries] OFF
