USE [ELMS]
GO
/****** Object:  Table [StandardOptions].[Counties]    Script Date: 3/18/2016 1:49:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [StandardOptions].[Counties](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[StateId] [int] NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Counties] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [StandardOptions].[Counties] ON 

INSERT [StandardOptions].[Counties] ([Id], [Name], [StateId], [Active]) VALUES (1, N'Autauga County', 2, 1)
INSERT [StandardOptions].[Counties] ([Id], [Name], [StateId], [Active]) VALUES (2, N'Baldwin County', 2, 1)
INSERT [StandardOptions].[Counties] ([Id], [Name], [StateId], [Active]) VALUES (3, N'Barbour County', 2, 1)
GO
SET IDENTITY_INSERT [StandardOptions].[Counties] OFF
GO
ALTER TABLE [StandardOptions].[Counties]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Counties_StandardOptions.States_StateId] FOREIGN KEY([StateId])
REFERENCES [StandardOptions].[States] ([Id])
GO
ALTER TABLE [StandardOptions].[Counties] CHECK CONSTRAINT [FK_dbo.Counties_StandardOptions.States_StateId]
GO
