@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Take Control of Your Education!</h1>
    <p class="lead">The Education Market</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Start Here</h2>
        <p>
            Find the perfect match to further your education!
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>My Profile</h2>
        <p>
            View your profile, admission status, and Market preference settings!
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Our Partners</h2>
        <p>
            Take a look at the Colleges, Universities, and Companies that make The Education Market Possible.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>